/* html, body {
    height: 100%;
} */

.vertical-align{
    margin-top: auto;
    margin-bottom: auto;
}

.label-margin-left{
    margin-left:15px;
}

.label-margin-right{
    margin-right:5px;
}

input#date{
    height: 35px;
}

#add_scenario_btn{
    cursor: pointer;
}